@using MusicSpot_v3.Core.Models.Albums;
@model AllAlbumsViewModel

@{
    ViewData["Title"] = "Albums";
}

<h1>All Albums</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Image
            </th>
            <th>
                Year
            </th>
            <th>
               Format
            </th>
            <th>
                MediaCondition
            </th>
            <th>
                SleeveCondition
            </th>
            <th>
                Description
            </th>
            <th>
                IsPublic
            </th>
            <th>
                Artist
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Albums) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SleeveCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
