@using MusicSpot_v3.Core.Models.Albums;
@model TotalUserAlbumsViewModel

@{
    ViewData["Title"] = "Albums";
}

<form method="get">
    <div class="form-group col-md-4">
        <label asp-for="SearchTerm"></label>
        <input asp-for="SearchTerm" id="textId" class="form-control" placeholder="Album Name, Year or Format">
    </div>
</form>

<h1>All Albums</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Image
            </th>
            <th>
                Year
            </th>
            <th>
                Format
            </th>
            <th>
                MediaCondition
            </th>
            <th>
                SleeveCondition
            </th>
            <th>
                Description
            </th>
            <th>
                IsPublic
            </th>
            <th>
                Artist
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Albums)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="@Html.Raw(item.TitleImage)" class="img-thumbnail">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Format)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaCondition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SleeveCondition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPublic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.Name)
                </td>
                <td>
                    <a class="btn btn-info m-1 btn-sm" asp-controller="Tracks" asp-action="Create" asp-route-id="@item.Id">Add Tracks</a>
                    <a class="btn btn-success m-1 btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-warning m-1 btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger m-1 btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
